* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top-btns {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.btn {
  box-shadow: 5px 5px 2px 0 #000;
}

.add-food-button {
  margin-left: 4rem;
}

.logout-button {
  margin-right: 4rem;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-table {
  border-collapse: collapse;
}

.food-table th,
.food-table td {
  border: solid;
  padding: 8px;
}

.food-header {
  font-size: 1.5rem;
  background: #afafaf;
}

.content {
  font-size: 1.2rem;
}

.table-content tr:nth-child(even) {
  background-color: #f4f4f4;
}

.table-content tr:nth-child(odd) {
  background-color: #e4e4e4;
}

.delete-btn {
  border: none;
  background-color: transparent;
  color: #272795d3;
}

.notice {
  color: red;
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;
}

/* style for form */

.page-title {
  font-size: 24px;
  margin: 2rem;
  text-align: center;
}

.food-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-btn {
  padding: 10px 20px;
  cursor: pointer;
}

.form-actions {
  text-align: center;
}
